body {
    margin: 0;
}

#navigation {
    margin-left: 55;
}

.OpenMenu {
    float: left;
    margin-top: 0;
    margin-left: 8;
}

.nav {
    background-color: aquamarine;
    margin: 0;
}

.nav a {

}

.user-data {
    background-color: red;
    margin: 0;
}

.featured {
    background-color: blue;
    margin: 0;
    overflow: scroll;
}

.explore {
    background-color: yellow;
    margin: 0;
}

.navMenu {
    background-color: slategrey;
    position: fixed;
    top: 0;
    width: 13%;
    height: 100%;
    z-index: 1;
}

#NoShow {
    display: none;
}

.CloseMenu {
    position: sticky;
    left: 100%;
    top: 0%;
}