body {
    margin: 0;
}

.nav {
    background-color: aquamarine;
    margin: 0;
}

.user-data {
    background-color: red;
    margin: 0;
}

.featured {
    background-color: blue;
    margin: 0;
}

.explore {
    background-color: yellow;
    margin: 0;
}