body {
    margin: 0;
}

.nav {
    background-color: aquamarine;
    margin: 0;
}

.user-data {
    background-color: aquamarine;
    margin: 0;
}

.featured {
    background-color: aquamarine;
    margin: 0;
}

.explore {
    background-color: aquamarine;
    margin: 0;
}